<!-- Header -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <ul>
                        <a href="http://www.globalbraininstitute.org/" target="_blank">
                            <img class="img-gbhead" src="img/gb_head.gif" width="300px">
                        </a>
                    </ul>

                    <h1 class="page-title">{{ page.title }}</h1>
                    <hr class="intro-divider">
                    <h2 class="page-subtitle">{{ page.subTitle }}</h2>

                    <!--
                    <ul class="list-inline intro-social-buttons">
                        {% for social in site.social %}
                        <li>
                            <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                -->
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
