<!-- Intro about conference theme -->
<div class="conference-theme" id="conference-theme">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="main-section-heading">Workshop theme</h1>
                    <p><font size=4>This informal meeting is intended to introduce and discuss a very recently formulated new vision of the future sharing economy. An offer network is a universal ICT platform through which people could formulate which goods, services or information they either need or are willing to offer, under which conditions. AI algorithms then try to optimally match offer and demand, taking into account conditions, preferences, and general efficiency. This facilitates trade, but also sharing, gifts, volunteer work, peer-to-peer collaboration, and exchanges that do not involve money. As the system becomes more intelligent and more people start to use it, it may be able to transform our present market economy into a "collaborative commons". This would greatly reduce poverty, inequality and negative externalities, while boosting abundance, sustainability, resilience and well-being.</font></p>

                    <p>The workshop will take place at the Vrije Universiteit Brussel (VUB), Pleinlaan 2, 1050 Brussels, Belgium, in room M015 (Building M, street level), on Friday, December 4, 2015 and will be <a href="pages/live">webstreamed</a>. <strong>The access is free!</strong></p>

                    <p><font size=4>For the introduction and existing materials on Offer Networks see the <a href="pages/resources">resources page</a>.</font></p>

                </div>
            </div>

        </div>
        <!-- /.container -->
</div>
<!--/.conference_theme -->

